.page {
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .group_2 {
    padding-bottom: 113.5px;
    flex: 1 1 auto;
    overflow-y: auto;
    .section_1 {
      padding: 18.5px 19.5px 19.5px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1.5px 12px rgba(153, 153, 153, 0.07);
      .text-wrapper {
        color: rgb(100, 177, 114);
        font-size: 16px;
        line-height: 15.5px;
        white-space: nowrap;
        width: 81px;
      }
      .text-wrapper_1 {
        color: rgb(61, 61, 61);
        font-size: 15px;
        line-height: 14.5px;
        white-space: nowrap;
        .text_4 {
          margin-left: 8px;
          margin-right: 7px;
        }
      }
      .text-wrapper_2 {
        margin-right: 7px;
        color: rgb(61, 61, 61);
        font-size: 15px;
        line-height: 14.5px;
        white-space: nowrap;
      }
    }
    .list {
      margin-top: 10px;
      .list-item {
        padding: 16px 12.5px;
        background-color: rgb(255, 255, 255);
        &:not(:first-of-type) {
          margin-top: 10px;
        }
        .text_10 {
          margin-top: 12.5px;
          color: rgb(17, 17, 17);
          font-size: 13px;
          line-height: 13px;
          white-space: nowrap;
        }
        .group_4 {
          margin-top: 10.5px;
          color: rgb(17, 17, 17);
          font-size: 12px;
          line-height: 11.5px;
          white-space: nowrap;
          .left-text-wrapper {
            padding: 5.5px 0 5px;
            background-color: rgba(56, 144, 244, 0.1);
            width: 39.5px;
            height: 21.5px;
            .text_12 {
              margin-right: 2.5px;
            }
          }
          .right-text-wrapper {
            margin-left: 6px;
            padding: 5.5px 0 5px;
            background-color: rgba(56, 144, 244, 0.1);
            width: 39.5px;
            height: 21.5px;
            .text_14 {
              margin-right: 2.5px;
            }
          }
        }
        .text_16 {
          margin-top: 11px;
          color: rgb(102, 102, 102);
          font-size: 13px;
          line-height: 12.5px;
          white-space: nowrap;
        }
        .left-group {
          color: rgb(255, 255, 255);
          font-size: 12px;
          line-height: 11.5px;
          white-space: nowrap;
          width: 34px;
          position: relative;
          .section_3 {
            margin-right: 1.5px;
            background-color: rgb(21, 188, 131);
            background-image: linear-gradient(
              93deg,
              rgb(78, 184, 237) 0%,
              rgb(78, 184, 237) 0%,
              rgb(56, 144, 244) 100%
            );
            border-radius: 3px;
            height: 17px;
          }
          .text_6 {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .text_8 {
          margin-left: 5.5px;
          color: rgb(17, 17, 17);
          font-size: 17px;
          line-height: 16px;
          white-space: nowrap;
        }
      }
    }
  }
}