.page {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  .group {
    padding-bottom: 10px;
    flex: 1 1 auto;
    overflow-y: auto;
    .section_1 {
      padding: 33px 10px 100.5px;
      background-color: rgb(99, 176, 113);
      background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/620affa35a7e3f0310d06a2d/620b0f8262a7d90011fe0484/16448921336799486341.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      .text {
        color: rgb(255, 255, 255);
        font-size: 27.5px;
        line-height: 18.5px;
        white-space: nowrap;
        text-transform: uppercase;
      }
      .text_1 {
        color: rgb(255, 255, 255);
        font-size: 18.5px;
        line-height: 17.5px;
        white-space: nowrap;
      }
      .image {
        align-self: center;
        width: 18.5px;
        height: 4.5px;
      }
    }
    .group_1 {
      margin-top: -73.5px;
      padding-top: 73.5px;
      position: relative;
      .section_2 {
        padding: 109px 0 9px;
        background-color: rgb(255, 255, 255);
        .grid {
          padding: 0 5px;
          height: 153px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          .grid-item {
            padding: 10.5px 25.5px 11px;
            color: rgb(61, 61, 61);
            font-size: 14px;
            line-height: 13px;
            white-space: nowrap;
            .image_1 {
              align-self: center;
              width: 31px;
              height: 31.5px;
            }
            .text_2 {
              margin-top: 10.5px;
              align-self: flex-end;
            }
          }
          .grid-item_1 {
            padding: 11px 25px 11.5px;
            color: rgb(61, 61, 61);
            font-size: 14px;
            line-height: 13.5px;
            white-space: nowrap;
            .image_2 {
              align-self: center;
              width: 29.5px;
              height: 31px;
            }
            .text_3 {
              margin-top: 10px;
              align-self: flex-end;
            }
          }
          .grid-item_2 {
            padding: 14px 0 11px;
            color: rgb(61, 61, 61);
            font-size: 14px;
            line-height: 13px;
            white-space: nowrap;
            .image_3 {
              width: 33.5px;
              height: 25.5px;
            }
            .text_4 {
              margin-top: 13px;
            }
          }
          .grid-item_3 {
            color: rgb(61, 61, 61);
            font-size: 14px;
            line-height: 13px;
            white-space: nowrap;
            padding: 11px 25.5px 11px;
            .image_4 {
              align-self: center;
              width: 31px;
              height: 31px;
            }
            .text_5 {
              margin-top: 10.5px;
              align-self: flex-end;
            }
            .image_5 {
              align-self: center;
              width: 31px;
              height: 29px;
            }
            .text_6 {
              margin-top: 12.5px;
              align-self: flex-end;
            }
          }
          .grid-item_4 {
            padding: 6px 0 11px;
            color: rgb(61, 61, 61);
            font-size: 14px;
            line-height: 13px;
            white-space: nowrap;
            .image_6 {
              width: 35.5px;
              height: 35.5px;
            }
            .text_7 {
              margin-top: 11px;
            }
          }
        }
      }
      .image-wrapper {
        padding: 153px 0 15px;
        border-radius: 1px;
        background-image: url('https://codefun-proj-user-res-1256085488.cos.ap-guangzhou.myqcloud.com/620affa35a7e3f0310d06a2d/620b0f8262a7d90011fe0484/16448921340057143221.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 15px;
        right: 15px;
        top: 0;
        .image_7 {
          width: 28.5px;
          height: 4.5px;
        }
      }
    }
    .group_4 {
      margin-top: 5px;
      height: 316.5px;
      position: relative;
      .section_3 {
        padding: 14px 13.5px 15px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        .text_8 {
          color: rgb(61, 61, 61);
          font-size: 16px;
          line-height: 15.5px;
          white-space: nowrap;
        }
        .group_5 {
          margin-top: 10px;
          padding: 0 73px;
          .group_6 {
            color: rgb(102, 102, 102);
            font-size: 14px;
            line-height: 13px;
            white-space: nowrap;
            .image_8 {
              width: 81px;
              height: 85px;
            }
            .text_9 {
              margin-top: 15px;
            }
          }
          .button {
            margin-right: 2px;
            margin-top: 31.5px;
            padding: 11.5px 0;
            color: rgb(255, 255, 255);
            font-size: 18px;
            line-height: 17px;
            white-space: nowrap;
            background-color: rgb(100, 177, 114);
            border-radius: 20px;
          }
        }
      }
      .text-wrapper {
        padding: 15px 0 41px;
        color: rgb(61, 61, 61);
        font-size: 18px;
        line-height: 17px;
        white-space: nowrap;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        .text_11 {
          margin-left: 12.5px;
        }
      }
      .image-wrapper_1 {
        padding-bottom: 18px;
        background-color: rgba(255, 255, 255, 0);
        width: 228px;
        position: absolute;
        right: 8px;
        top: 9.5px;
        .image_9 {
          width: 228px;
          height: 63.5px;
        }
      }
      .text_12 {
        color: rgb(61, 61, 61);
        font-size: 14px;
        line-height: 13.5px;
        white-space: nowrap;
        position: absolute;
        left: 12px;
        top: 41.5px;
      }
    }
  }
  .footer {
    padding: 2px 8px 6.5px 14.5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -1.5px 5px rgba(217, 217, 217, 0.5);
    position: relative;
    .group_7 {
      color: rgb(100, 177, 114);
      font-size: 13px;
      line-height: 12.5px;
      white-space: nowrap;
      position: absolute;
      left: 14.5px;
      top: 2px;
    }
    .group_8 {
      color: rgb(176, 141, 113);
      font-size: 13px;
      line-height: 12.5px;
      white-space: nowrap;
      .text_14 {
        margin-left: 2px;
        margin-top: 2px;
      }
    }
    .group_9 {
      color: rgb(176, 141, 113);
      font-size: 13px;
      line-height: 12.5px;
      white-space: nowrap;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
    .image_10 {
      width: 27px;
      height: 27px;
    }
  }
}